<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Contracts.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings><add name="ContractsEntities" connectionString="metadata=res://*/EFM_Contracts.csdl|res://*/EFM_Contracts.ssdl|res://*/EFM_Contracts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CONTRACT\SQL2012;initial catalog=Contracts;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
  <userSettings>
    <Contracts.My.MySettings>
      <setting name="strDatabaseName" serializeAs="String">
        <value>Contracts</value>
      </setting>
      <setting name="strServerName" serializeAs="String">
        <value>DESKTOP-E2S11US</value>
      </setting>
      <setting name="strBU_Folder" serializeAs="String">
        <value>G:\</value>
      </setting>
      <setting name="Coll_DB_Name" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>Contracts</string>
            <string>Contracts_Dev</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Coll_Server_Name" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>.\SQLEXPRESS</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Coll_BU_Folder" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>A</string>
            <string>B</string>
            <string>C</string>
            <string>D</string>
          </ArrayOfString>
        </value>
      </setting>
    </Contracts.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
